[*.cs]

# IDE0011: Add braces
csharp_prefer_braces = when_multiline:silent

# IDE0008: Use explicit type
csharp_style_var_elsewhere = true:error

# IDE0008: Use explicit type
csharp_style_var_when_type_is_apparent = true:error

# IDE0008: Use explicit type
csharp_style_var_for_built_in_types = true:error
